


<div class="container-fluid">
  <div class="row"> <!-- sidenav -->

    <%= render 'shared/sidebar' %>


    <div class="col-md-10 header page">


    <%= render 'shared/feed_body' %>

    </div>
  </div>
</div>
